#text1 {
    color: white;
    margin-left: 8px;
    font-size: 18px;
}

#text2 {
    color: white;
    font-size: 110px;
}

#text3 {
    color: white;
    font-size: 80px;
    color: rgb(0, 255, 222);
}

#text4 {
    color: white;
    font-size: 70px;
}

#text5   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text6   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text7 {
    color: white;
    font-size: 70px;
}

#text8   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text9   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text10 {
    color: white;
    font-size: 70px;
}

#text11   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text12   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text13 {
    color: white;
    font-size: 70px;
}

#text14   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text15   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text16 {
    color: white;
    font-size: 70px;
}

#text17   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text18   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text19 {
    color: white;
    font-size: 70px;
}

#text20   {
    color: white;
    font-size: 24px;
    color: rgb(145, 198, 0);
}

#text21   {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}

#text22   {
    color: white;
    font-size: 26px;
    margin-top: 44px;
}

#text23 {
    transform: translateY(-1px);
    display: none;
    color: rgb(145, 198, 0);
}